/* ==========================================================================
   Sass variables
   ========================================================================== */


/* Accent Bar */
/* Top Color */
$highlightcolor  : #CC0000;
$highlight-color : $highlightcolor;

/*Bottom Color*/
$lowlightcolor  : #CC0000;
$lowlight-color : $lowlightcolor;

